<h1 *ngIf="mode === MODES.login; else signInTitle">Вход на портал</h1>
<ng-template #signInTitle><h1>Регистрация на портале</h1></ng-template>
<form
  [formGroup]="form"
>
  <div class="form-item">
    <label>Логин:</label>
    <input formControlName="login" placeholder="Введите логин..."/>
  </div>
  <div class="form-item">
    <label>Пароль:</label>
    <input formControlName="password" placeholder="Введите пароль..."/>
  </div>
  <div *ngIf="mode === MODES.login; else signInControls" class="controls">
    <app-button [routerLink]="'../'+MODES.signIn" text="Регистрация" type="default"/>
    <app-button text="Войти" type="primary" (click)="onLogin()"/>
  </div>
  <ng-template #signInControls>
    <div class="controls">
      <app-button text="Назад" (click)="onBack()"/>
      <app-button text="Зарегистрироваться" type="primary"/>
    </div>
  </ng-template>
</form>
