@import "/src/variables";

$gap: 20px;

:host {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  background-color: $bg-block;
  backdrop-filter: blur(3px);
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $gap;
  height: 100%;
  padding: 0 calc($gap * 2);
}
